@import '../scss/const';

.root {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: $light-color;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
        inset 0 0 20px rgba(255, 255, 255, 0),
        7px 7px 15px rgba(55, 84, 170, 0.15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 10px;

    h1 {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        font-size: 1.5rem;
    }
}

.button {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 1rem;
    border: 1px solid $dark-color;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        color: #ffffff;
        background: $secondary-color;
        border-color: $secondary-color;
    }
}
