$primary-color: #9ccfd8;
$secondary-color: #ebbcba;
$light-color: #e0def4;
$dark-color: #1f1d2e;
$subtle-color: #6e6a86;

$background-color: $dark-color;
$text-color: $light-color;
$hover-color: $subtle-color;
